export HOMEBREW_GITHUB_API_TOKEN=

export DATABASE_PASS=

export APIM_CLIENT_SECRET=
export APIM_DOMAIN=
export APIG_DOMAIN=

export GOOGLE_APPLICATION_CREDENTIALS=

export CTS_TEST_AUTH_HEADER=

export JWT_SECRET=
export ADMIN_JWT_SECRET=
export APP_KEYS=
